* {
  margin: 0;
  padding: 0;
}

html,
body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;

  -webkit-overflow-scrolling: auto;
}